<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST"/>
  <label for="name">Name</label><br>
  <input id="name" type="text" name="User[name]"/><br
  <label for="email">email</label><br>
  <input id="email" type="text" name="User[email]"/><br
  <label for="password">password</label><br>
  <input id="password" type="text" name="User[password]"/><br
  <input id="Submit" value="Sign Up"/>
</form>
